* {
    font-family: "Comic Sans MS", serif;
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    background: url("https://cms.splendidtable.org/sites/default/files/styles/w2000/public/chocolate-chip-cookie.jpg?itok=WjVT2Nnh") no-repeat center;
    background-size: cover;
    color: black;
    text-align: center;
}

.login_menu{
    position: absolute;
    top: 40vh;
    left: 39vw;
    text-align: center;
}

.login_menu input{
    color: black;
    background: whitesmoke;
    width: 60%;
    margin: 16px;
}

.login_menu .button{
    color: black;
    background: whitesmoke;
    margin: 16px 8px;
}


.login_menu p{
    color: white;
}

#game_name{
    color: whitesmoke;
    padding: 20px;
    position: absolute;
    top: 25vh;
    left: 38vw;
}

#warnings{
    color: springgreen;
    font-weight: bold;
    position: absolute;
    top: 80vh;
    left: 30vw;
    text-align: center;
    font-size: 1.7em;
}

.button{
    margin: 15px;
    padding: 7px;
    background-color: whitesmoke;
    text-decoration-style: solid;
    border-color: black;
    border-image-width: 2px;
}

