<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <title>Tic-Tac-Toe Homepage</title>
    <link type="text/css" rel="stylesheet" href="style2.css">
    <script>

    </script>
</head>
<body>
<h1 id="game_name">TIC TAC TOE</h1>
<span class="login_menu">
<form action="/log_in" method="post">
    <p>Username:</p>
    <input type="text" name="username"/>
    <p>Password:</p>
    <input type="text" name="password"/>
    <br/>
    <input class="button" type="submit" value="Log in"/>
    <input class="button" type="submit" formaction="/register" value="Register" />
</form>
</span>
<div th:text="${message}" id="warnings" style="color: yellow;"></div>
</body>
</html>