<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Tic-Tac-Toe</title>
    <link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>
<table id="board">

    <tr>
        <td><a href="/?x=0&y=0"><img height="5%" src="https://vignette.wikia.nocookie.net/theloudhouse/images/a/a5/X.png/revision/latest?cb=20170917150003" /></a></td>
        <td><a href="/?x=1&y=0"><img height="5%" src="https://vignette.wikia.nocookie.net/theloudhouse/images/a/a5/X.png/revision/latest?cb=20170917150003" /></a></td>
        <td><a href="/?x=2&y=0"><img height="5%" src="https://vignette.wikia.nocookie.net/theloudhouse/images/a/a5/X.png/revision/latest?cb=20170917150003" /></a></td>
    </tr>
    <tr>
        <td><a href="/?x=0&y=1"><img height="5%" src="https://vignette.wikia.nocookie.net/theloudhouse/images/a/a5/X.png/revision/latest?cb=20170917150003" /></a></td>
        <td><a href="/?x=1&y=1"><img height="5%" src="https://vignette.wikia.nocookie.net/theloudhouse/images/a/a5/X.png/revision/latest?cb=20170917150003" /></a></td>
        <td><a href="/?x=2&y=1"><img height="5%" src="https://vignette.wikia.nocookie.net/theloudhouse/images/a/a5/X.png/revision/latest?cb=20170917150003" /></a></td>
    </tr>
    <tr>
        <td><a href="/?x=0&y=2"><img height="5%" src="https://vignette.wikia.nocookie.net/theloudhouse/images/a/a5/X.png/revision/latest?cb=20170917150003" /></a></td>
        <td><a href="/?x=1&y=2"><img height="5%" src="https://vignette.wikia.nocookie.net/theloudhouse/images/a/a5/X.png/revision/latest?cb=20170917150003" /></a></td>
        <td><a href="/?x=2&y=2"><img height="5%" src="https://vignette.wikia.nocookie.net/theloudhouse/images/a/a5/X.png/revision/latest?cb=20170917150003" /></a></td>
    </tr>

</table>
</body>
</html>