<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Play</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="style.css" />
    <script th:inline="javascript">
        var finish_game = [[${game_finished}]];
        $(document).ready(function () {
            if (finish_game){
                $("#win_message").css("color","red")
            }
        });

        var clickOnField = function ( e, x, y) {
            $('div').removeClass('wrongField');
            if (finish_game !== true) {
                if (e.className === 'empty_field') {
                    $('#warnings').hide(2400, 'linear');
                    location.href = '/move?x=' + x + '&y=' + y;
                }
                else {
                    $('#warnings').show(2400, 'linear');
                    $(e).addClass('wrongField');
                }
            }
        }
    </script>
</head>
<body>
<span class="board_frame">
<div>
    <div th:class="${classes[0][0]}" onclick="clickOnField(this, 0, 0);"></div>
    <div th:class="${classes[0][1]}" onclick="clickOnField(this, 0, 1);"></div>
    <div th:class="${classes[0][2]}" onclick="clickOnField(this, 0, 2);"></div>
</div>
<div>
    <div th:class="${classes[1][0]}" onclick="clickOnField(this, 1, 0);"></div>
    <div th:class="${classes[1][1]}" onclick="clickOnField(this, 1, 1);"></div>
    <div th:class="${classes[1][2]}" onclick="clickOnField(this, 1, 2);"></div>
</div>
<div>
    <div th:class="${classes[2][0]}" onclick="clickOnField(this, 2, 0);"></div>
    <div th:class="${classes[2][1]}" onclick="clickOnField(this, 2, 1);"></div>
    <div th:class="${classes[2][2]}" onclick="clickOnField(this, 2, 2);"></div>
</div>

</span>
<div id="warnings">Wrong&nbsp;field!</div>

<span>
<div id="win_message" th:text="${finish_status}"></div>
    <a id="restart" href="/first_move">PLAY AGAIN</a>
</span>

<span class="scores">
    <div>
        <div>P1 wins</div>
        <div>2</div>
    </div>
    <div>
        <div>Ties</div>
        <div>1</div>
    </div>
    <div>
        <div>P2 wins</div>
        <div>3</div>
    </div>
</span>
</body>
</html>